<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:targetApi="33" />


    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sharing_Public_Taxi"
        tools:targetApi="31">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
        </activity>

        <!-- MainActivity 설정 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Kakao AuthCodeHandlerActivity 설정 -->
        <meta-data
            android:name="com.kakao.sdk.Appkey"
            android:value="@string/scheme_kakao_app_key" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/kakao_scheme" android:host="oauth" />

                <data android:scheme="https" /> <!-- 리디렉트 URI의 스킴 -->
                <data android:host="ridetogetherhyu.com" /> <!-- 리디렉트 URI의 호스트 -->
                <data android:path="/oauth"
                    android:scheme="@string/scheme_kakao_app_key" />
            </intent-filter>
        </activity>
    </application>
</manifest>
